<div class="sidenav-mobile">
    <img class="sidenav-icon-mobile" src="/assets/images/icon.png">
    <h1><a href="/">holymahogany.com</a></h1>
    <div class="sidenav-title">
      <h2>Peter Smyth's</h2>
      <h2>Digital Portfolio</h2>
    </div>
    <div class="sidenav-linkcontainer-mobile">
        <a href="mailto:eter.jacob.smyth@gmail.com">email: <u>peter.jacob.smyth@gmail.com</u></a>
        <a href="https://twitter.com/holy_mahogany">twitter: <u>@holy_mahogany</u></a>
        <a href="https://www.instagram.com/peterjacobsmyth">instagram: <u>@peterjacobsmyth</u></a>
        <a href="https://holymahogany.itch.io/">itch.io: <u>holymahogany</u></a>
    </div>
</div>