<div class="sidenav">
  <img id="sidenav-icon" src="/assets/images/icon.png">
  <h1><a href="/">holymahogany.com</a></h1>
  <div id="sidenav-title">
    <h2>Peter Smyth's</h2>
    <h2>Digital Portfolio</h2>
  </div>

  <a href="/contact">contact</a>
  <a href="/research-notes">research notes</a>
  <a href="https://twitter.com/holy_mahogany">twitter</a>
  <a href="https://www.instagram.com/peterjacobsmyth">instagram (visual art)</a>
  <a href="https://holymahogany.itch.io/">itch.io (games)</a>
</div>