<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  {% if section %}
        <title>{{ config.title }}</title>
        <meta name="description" content="{{ section.description }}">
    {% elif page %}
        <title>{{ config.title }} | {{ page.title }}</title>
        <meta name="description" content="{{ page.description }}">
    {% else %}
        <title>{{ config.title }}</title>
        <meta name="description" content="{{ config.description }}">
    {% endif %}
    <meta name="description" content="{{ config.description }}">
    <meta name="keywords" content="Reseach, Blog, Commission, Freelance, Sample">
    <meta name="author" content="Peter Smyth">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Manrope">
    <script src="https://kit.fontawesome.com/c7753479c5.js" crossorigin="anonymous"></script>
</head>

<body>

<!-- navigation bar -->
<div class="upper flex-x">
    <div class="upper-side fill"></div>
    <div class="title flex-x">
        <div class="title-center">
          <div class="nav-bar flex-x">
            {% include "nav-bar.html" %}
          </div>
        </div>
    </div>
    <div class="upper-side fill"></div>
</div>

<!-- site banner -->
{% set sect = get_section(path="_index.md") %}
{% if current_path == sect.path %}
<!-- landing banner -->
<div class="banner flex-x">
  <div class="fill"></div>
    <div class="banner-center-outer">
      <div class="banner-center-inner landing">
        <div class="banner-headline landing">
          Hello! <i class="fa-solid fa-hand-sparkles"></i> I'm Peter Smyth.
        </div>
        <div class="banner-text landing">
          I'm a PhD student in the History of Art at Ohio State.<br>I study comics and painting through the lens of modernism.
        </div>
      </div>
    </div>
  <div class="fill"></div>
</div>
{% elif section.extra.banner1 %}
<!-- banner for other pages; if banner1 exists, banner is added -->
<div class="banner flex-x">
  <div class="fill"></div>
    <div class="banner-center-outer">
      <div class="banner-center-inner nonlanding">
        <div class="banner-headline nonlanding">
          {{ section.extra.banner1 }}
        </div>
        <div class="banner-text nonlanding">
          {% if section.extra.banner2 %} {{ section.extra.banner2 }} {% endif %}
          <br>
          {% if section.extra.banner3 %} {{ section.extra.banner3 }} {% endif %}
        </div>
      </div>
    </div>
  <div class="fill"></div>
</div>
{% endif %}

<!-- site body -->
<div class="lower flex-x">
    <div class="fill"></div>
    <div class="lower-center flex-x">
        <div class="fill inner">
            <div class="content">
              {% block content %}
              {% endblock content %}
            </div>
        </div>
    </div>
    <div class="fill"></div>
</div>
</body>

<!-- site footer -->
<div class="footer flex-x">
  <div class="fill"></div>
    <div class="footer-center-outer">
      <div class="footer-center-inner">
        <div class="footer-social-links flex-x">
          <div class="social-link-container flex-x"><i class="fa-regular fa-envelope social-icon"></i><a class="social-link" href="mailto:peter.jacob.smyth@gmail.com">peter.jacob.smyth@gmail.com</a></div>
          <div class="social-link-container flex-x"><i class="fa-brands fa-twitter social-icon"></i><a class="social-link" href="https://twitter.com/holy_mahogany">holy_mahogany</a></div>
          <div class="social-link-container flex-x"><i class="fa-brands fa-instagram social-icon"></i><a class="social-link" href="https://www.instagram.com/peterjacobsmyth/">peterjacobsmyth</a></div>
          <div class="social-link-container flex-x"><i class="fa-brands fa-itch-io social-icon"></i><a class="social-link" href="https://holymahogany.itch.io/">holymahogany.itch.io</a></div>
        </div>
        &copy; Peter Smyth 2022
      </div>
    </div>
  <div class="fill"></div>
</div>

</html>